<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsmqiqa2HSv0eVTSL6oagQyoP-Jrx1fS4</string>
	<key>GCM_SENDER_ID</key>
	<string>102688073158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobeasyTestTask</string>
	<key>PROJECT_ID</key>
	<string>mobeasy-test-task</string>
	<key>STORAGE_BUCKET</key>
	<string>mobeasy-test-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102688073158:ios:f4934be5a1bc4600f5fec7</string>
</dict>
</plist>